<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito</title>
</head>

<body class="carrito">
    <main class="carrito__main">
        <section class="carrito__main__section">
            <div class="carrito__main__section__div">
                <h3>Tu Carrito</h3>
                <div class="carrito__main__section__div-productos">
                    <article class="carrito__main__section__div-article1">
                        <img src="/img/9002-removebg-preview.png" alt="amoladora">
                        <button class="boton__general"><i class="fa-solid fa-trash"></i>eliminar</button>
                        <button class="boton__general">Comprar</button>
                    </article>
                </div>
            </div>
        </section>
    </main>
</body>

</html>