<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito</title>
</head>

<body class="Carrito">
    <header class="carrito__header">
        <div class="carrito__header--traslate">
            <button><i class="fa-solid fa-globe"></i></button>
        </div>
        <div class="carrito__header--div">
            <img class="carrito__header--div-img" src="/img/Logo-Toolsxperts.png" alt="Logo-Toolsxperts">
            <div>
                <button class="carrito__header--div-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                <button class="carrito__header--div-signIn">Iniciar Sesion</button>
            </div>
        </div>
        <div class="carrito__header--div1">
            <div class="carrito__header--div1-search">
                <button type="submit"><i class="fas fa-search"></i></button>
                <input type="text" name="q" placeholder="¿Qué estas buscando?">
            </div>
            <nav class="carrito__header__nav-burger-menu">
                <div>
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    <main class="carrito__main">
        <section class="carrito__main__section">
            <h3>Tu Carrito</h3>
            <article>
                <h4>Tu carrito está vacío</h4>
                <p>comienza a llenarlo con nuestros productos.</p>
                <button>Ir de compras</button>
            </article>
        </section>
    </main>
    <footer class="carrito__footer">
        <img src="/img/Logo-Toolsxperts.png" alt="Logo-Toolsxperts">
        <div class="carrito__footer__div">
            <div class="carrito__footer__div-contacto">
                <button>Suscribite</button>
                <p>si tenés sugerencias o comentarios</p>
                <p>contactenos</p>
            </div>
            <div class="carrito__footer__div-contacto">
                <button>Ayuda</button>
                <p>registrate para enterarte de nuestras promociones</p>
            </div>
            <div class="carrito__footer__div-redes">
                <h3>Seguinos en</h3>
                <nav class="carrito__footer__div-redes-links">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </nav>
            </div>
        </div>
    </footer>
</body>

</html>