<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Header</title>
</head>
<body>
    <header class="carrito__header">
        <div class="carrito__header--traslate">
            <button><i class="fa-solid fa-globe"></i></button>
        </div>
        <div class="carrito__header--div">
            <a href="/footer"><img class="carrito__header--div-img" src="/img/Logo-Toolsxperts.png" alt="Logo-Toolsxperts"></a>
            <div>
                <button class="carrito__header--div-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                <button class="boton__general">Iniciar Sesion</button>
            </div>
        </div>
        <div class="carrito__header--div1">
            <div class="carrito__header--div1-search">
                <button type="submit"><i class="fas fa-search"></i></button>
                <input type="text" name="q" placeholder="¿Qué estas buscando?">
            </div>
            <nav class="carrito__header__nav-burger-menu">
                <div>
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>